.container{
    background-color: black;
    width: 80%;
    height: 60vh;
    justify-content: center;
    display: flex;
    border-radius: 30px;
  
}

.text-center{
    text-align: center;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin:auto;
}
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.m-w-20{
    max-width: 50vw;
}
.button{
    border: 5px;;
    font-size: 20px;
    outline: 0;
    background-color: rgb(49, 49, 49);
    color: rgb(12, 102, 192);
    width: 62px;
    height: 60px;
    border-radius: 16px;
    margin: 4px;
    
}
.row{
    margin: 8px 0;
}
.row1 input{
    font-size: 25px;
  margin: 0;
    border: none;
    border-radius: 7px;
    margin: 10px;
    color: grey;
    background-color: black;
text-align: right;
}
.row2 input{
    font-size: 25px;
    border: none;
 margin: 0;
    border-radius: 7px;
    margin: 10px;
    color: white;
    text-align: right;
    background-color: black;
}
.special{
    border: 5px;;
    font-size: 25px;
    outline: 0;
    background-color: rgb(49, 49, 49);
    color: rgb(12, 102, 192);
    width: 122px;
    height: 60px;
    border-radius: 18px;
    margin: 4px;
}
